
/*#fixed{
    background: #eee;
    position: fixed;
    padding: 40px;
    text-align: center;
    margin: 0;
    top: 0;
    left: 0;
}*/

* {
    box-sizing: border-box;
    text-align: center;
  }

.wrapper{
    width: 960px;
    margin: 0 auto 0 auto;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    top:0;
}
    
.header {
    padding: 30px;
    margin-bottom: 20px;
    background: white;
    top:0;
  }

  #fixed {
    position: fixed;
    background:rgb(118, 218, 201);
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
    top: 0;
    border-style: solid;
  }


.footer {
    padding: 30px;
    color: #333;
    background: grey;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    border-top-width: 5px;
    border-top-color: rgb(118, 218, 201);
    text-align: center;
  }