/*Principal style sheet*/
*{
  box-sizing: border-box; /*t include borders and paddingsin the sizing*/
}

body {
  background-image: url('/Basic-Portfolio/assets/images/concrete_seamless.png');
  background-size: cover; /*to have the image cover the background*/
}

p {
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8; /*height line for the About paragraph*/
  margin: 0 auto;
}

label{ /*labels for the contact form*/
  color: #777777;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

h3{ /*title for the contact and portfolio pages*/
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 0px;
  padding-bottom: 20px;
  border-bottom: 2px solid #cccccc;
}

input[type=text], textarea { /*placeholder textarea for inputs of the contact form*/
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc; 
  margin-bottom: 10px; 
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
}

input[type=submit] { /*submit button of the contact form*/
  background-color: #4aaaa5;
  width: 75px;
  height: 28px;
  color: white;
  text-align: center;
}

.container{
  max-width: 960px;
  margin: 0 auto 0 auto;
}

.header { /*the same header for all 3 pages*/
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffffff;
  top:0;
  border-bottom-style: solid;
  border-width: 2px;
  border-bottom-color: #cccccc;
}

.footer { /*the same footer for all 3 pages*/
  width: 100%;
  height: 60px;
  position: fixed; 
  bottom: 0;
  left: 0;
  color: #333;
  background: #666666;
  border-style: solid;
  border-width: 2px;
  border-top-width: 5px;
  border-top-color: #4aaaa5;
  text-align: center;
  clear: both;
}

.imagesection, .imagesection2, .imagesection3{ /*3 sections for the 3 rows of image on the Portfolio page*/
  position: relative;
}

.clearfix{
  clear: both;
}

#content img{ /*About me picture*/
  clear: both;
  float: left; 
  width: 200px;
  height: 200px;
  padding: 20px;
  object-fit: cover; /*to adjust the image*/
}

#content{ /*content area for the 2 pages : Home and Contact*/
  /* max-width: 960px; */
  margin-top: 100px;
  padding: 30px;
  clear: both;
  width: 865px;
  height: 450px;
  border: solid;
  border-width: 1px;
  border-color: #dddddd;
  margin-left: 70px;
  background-color: #ffffff;
}

#content h1{ /*Title of the content area*/
  color: #4aaaa5;
  padding-bottom: 20px;
  margin-top: 0px;
  border-bottom: 2px solid #cccccc;
}

#content2{ /*content area for the Portfolio page*/
  /* max-width: 960px; */
  margin-top: 80px;
  padding: 30px;
  clear: both;
  width: 720px;
  height: 580px;
  border: solid;
  border-width: 1px;
  border-color: #dddddd;
  margin-left: 70px;
  background-color: #ffffff;
}

#content2 img{/* images for the Portfolio page*/
  height: 135px;
  width: 177px;
  object-fit: cover;
}

#absolute h1{
  margin-top: 0px;/*to have the name centered*/
}

#absolute {
  position: relative; /*position relative to be able to move it*/
  background: #4aaaa5;
  color: white;
  left: 21%;
  text-align: center;
  height: 70px;
  padding: 10px;
  max-width: 960px;
  margin: 0 auto 0 auto;
  float: left;
}

#nav li { /* navigation bar list*/
  float: left; /*float left to have the navigation button in the right order before float right*/
}

#nav2 li { /* navigation bar list*/
  float: left; /*float left to have the navigation button in the right order before float right*/
}

#nav ul { /*navigation bar list, floated right*/
  float: right;
  position: relative; /*position relative to be able to move it*/
  right: 230px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav2 ul { /*navigation bar list, floated right*/
  float: right;
  position: relative; /*position relative to be able to move it*/
  right: 375px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav li a{ 
  display: block;
  padding: 20px;
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
}

#nav2 li a{ 
  display: block;
  padding: 20px;
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
}

#img1, #img2, #img3, #img4, #img5{/*images of the portfolio page*/
  position: absolute;
  z-index: 1;
}

#text1 ,#text2,  #text3 ,#text4, #text5{/*styling of the texts*/
  position: absolute;
  z-index: 2;
  background-color: #4aaaa5;
  margin-top: 90px;
  margin-left: 0px;
  height:40px;
  width: 177px;
  text-align: center;
  padding-top: 10px;
  color: white;
 }

#text2, #img2, #img4, #text4{
  margin-left: 240px; 
}

#img3, #img4{
  margin-top: 160px;
}

#text3, #text4{
  margin-top: 250px;
}

#img5{
  margin-top: 325px;
}

#text5{
  margin-top: 415px;
}
